<a href="<%=new_book_shop_path%>" class="btn btn-default">New Carrier</a>
<div class="container well margin-top-20 small-container">
    <table class="table">
        <% @shops.each do |s| %>
            <tr>
                <td><%=s.ShopName %></td>
                <td><%=s.Address %></td>
                <td><%=s.website %></td>
            </tr>
        <%end%>
    </table>

</div>